body{
    background-size: 100%;
    margin-left: 100px;
    height: 100%;
}
header{
        text-align: center;
        color: #333;
        display: flex;
        
    }
    nav{
        justify-content: center;
    }
    nav ul{
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
        margin-left: 510px;
        margin-top: 40px;
    }
    nav ul li {
        display: inline;
        margin: 0 15px;
    }nav ul li {
        display: inline;
        margin: 0 15px;
    }
    nav ul li a {
        color: #333;
        text-decoration: none;
    }

    .icons{
        display: flex;
        gap:10px;
        padding-top: 1%;
        padding-left: 10%;
        color:white;
    }
    #second-paragraph{
        text-align:justify;
        font-size: 50px;
    }
    #homeword{
border-style:dashed ;

    }
    #section-one{
        display:flex;

    }
    .pic-two{
        margin-left: 900px;
        margin-top: -350px;
       
    }
    #image-one{
        border-radius: 5%;
        width: 70%;
    }
    #start-button{
        border-radius: 35px;
        background-color: #333;
        color: white;
        box-shadow: none;
        width: 150px;
        height:70px;
        border: none;
    }
    .fa-play{
        color: #333;
        border: solid rgb(214, 210, 210);
        background-color: rgb(214, 210, 210);
        
        width: 30px;
        height:25px;
        text-align: center;
        margin:10px;
    }
    .third-paragraph{
        gap: 5000px;
    }