
body{
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 100px;
    height: 100%;
    row-gap: 5px;
    position:absolute;
}
@media screen and (min-width: 2304px) and (max-width: 1440px){
    .container{
display: flex;
    }
}
header{
        text-align: center;
        color: #333;
        display: flex;
        gap: 150px;
        
    }

    nav{
        justify-content: center;
    }
    nav ul{
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
        margin-left: 510px;
        margin-top: 40px;
    }
    nav ul li {
        display: inline;
        margin: 0 15px;
    }nav ul li {
        display: inline;
        margin: 0 15px;
    }
    nav ul li a {
        color: #333;
        text-decoration: none;
    }

    .icons{
        display: flex;
        gap:10px;
        padding-top: 1%;
        padding-left: 10%;
        color:white;
    }
    #second-paragraph{
        text-align:justify;
        font-size: 50px;
    }
    #homeword{
border-style:dashed ;

    }
    #section-one{
        display:flex;

    }
    .pic-two{
        margin-left: 1100px;
        margin-top: -500px;
       
    }
    #image-one{
        border-radius: 5%;
        width: 90%;
    }
    #start-button{
        border-radius: 35px;
        background-color: #333;
        color: white;
        box-shadow: none;
        width: 150px;
        height:70px;
        border: none;
    }
    #shop-button{
        border-radius: 35px;
        background-color:white;
        color: black;
        box-shadow: none;
        width: 150px;
        height:70px;
        border: 1px solid black;
    }
    .fa-play{
        color: #333;
        border: solid rgb(214, 210, 210);
        background-color: rgb(214, 210, 210);
        padding: 10px;
        border-radius: 6px;
        text-align: center;
    }
    .third-paragraph{
        display: flex;
        gap: 15px;
    }
    .second-section{
        display: flex;
        justify-content: space-between;
        margin-top: 150px;
    }
    #span{
        font-size: 40px;
    }
    #word{
        font-size: 17px;
    }
    .third-section{
        display:flex;
        justify-content: space-between;

    }
    .previous-next-button{
        .fa-play{
        color: #333;
        background-color: white;
        border: none;
        
    }
    
    }
    .image-second-section{
display: flex;
justify-content: space-between;
    }
    .section-four{
        text-align: center;
    }
#wall-pic{
    width: 40%;
    
}
.section-five{
    display: flex;
    gap:-1000px;
    
}
#section-five-text{
width: 50%;
}
h3{
    font-size: 50px;
    line-height: 50px;
}
h4{
    font-size: 50px;
    line-height: 50px;
}
.section-six{
display: flex;
gap: 650px; 
}
.section-seven{
    text-align: center;
    p{
        font-size: 30px;
        line-height: 10px;
    }
}
.section-eight{
    display: flex;
    justify-content: space-between;
}
.section-nine{
    text-align: center;
    p{
        font-size: 30px;
        line-height: 4px;
    }
}
.image-reviews{
    text-align: center;
    display: flex;
    gap: 100px;
    margin-left: 400px;
}
#arther-name{
    margin: none;
        }
        .fa-arrow-right{
       color: #000;
        }
#arther-review{
    text-align: justify;
   
}
.arther{
    display: flex;
}
#review{
    display: flex;
    justify-content: space-between;
}
.review-pic{
    margin-top: -120px;
}
.last-section{
    display: flex;
    justify-content: space-between;
}
a {
    text-decoration: none;
    color: #000;
}
.copyrights{
    display: flex;
    justify-content: space-between;
}
.fa-copyright{
color: #000;
}
